# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target
# per-module target dirs (adapter/paper/*/target, adapter/spigot/*/target, plugin/target …)
**/target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

*.class
*.jar
*.lst